@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
	--dark: #2b2d42;
	--light: #adb5bd;
	--border: #dee2e6;
	--border-btn: #edf2f4;
	--blue: #00a8e8;
	--grey: #f4f6f8;
	--grey-600: #637381;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Public Sans', sans-serif;
}

a {
	text-decoration: none;
	cursor: pointer;
}
.anchor:active {
	text-decoration: none;
}

body {
	background-color: var(--grey);
	max-width: 1200px;
	margin: auto;
}
/* .container {
  max-width: 1024px;
  margin: auto;
} */

#header .container {
	padding: 10px 0;
	width: 100%;
}

.nav-brand {
	font-size: 1.5rem;
	font-weight: 900;
	font-family: 'Inter';
}

.d-flex {
	display: flex;
	flex-wrap: wrap;
}

.justify-between {
	justify-content: space-between;
}

.text-center {
	text-align: center;
}

.border-shadow {
	border: 1px solid var(--border-btn);
	box-shadow: 1px 3px 10px #e9ecef;
}

.text-dark {
	color: #00a8e8;
}

.inline {
	display: inline-block;
}

.text-light {
	color: var(--light);
}

.text-gradient {
	background: linear-gradient(to right, #8e2de2, #4a00e0);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
/* Home page */
#main {
	min-height: 80vh;
}
.title {
	text-align: center;
	margin-top: 30px;
	font-family: 'Inter', sans-serif;
	font-weight: 800;
	color: #2d3748;
	letter-spacing: -0.05em;
	font-size: 3rem;
	line-height: 1.2;
}
.title .two {
	color: var(--blue);
}
.subtext {
	text-align: center;
	margin-top: 1rem;
	font-weight: 300;
	color: var(--grey-600);
}
.btn {
	display: flex;
	align-items: center;
	justify-content: center;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px 32px;
	background-color: var(--blue);
	outline: none;
	border: none;
	border-radius: 5px;
	margin-top: 2.5rem;
	color: white;
	font-weight: 500;
	cursor: pointer;
}
.cont {
	width: auto;
	height: auto;
	margin-top: 4rem;
	display: grid;
	grid-template-columns: auto auto auto auto;
	column-gap: 20px;
	row-gap: 20px;
}
.card {
	display: flex;
	width: 300px;
	height: auto;
	padding: 0;
	border-radius: 10px;
	overflow: hidden;
	background-color: white;
	box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
		rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.icon-layout {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80px;
	height: 100%;
	color: white;
	margin: 0;
	padding: 0;
	background: var(--blue);
}

.user-details {
	margin: 5px;
}
.user-details .name {
	font-weight: 600;
	font-size: 1rem;
	color: var(--dark);
	text-align: start;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.user-details .text {
	color: var(--grey-600);
	margin-top: 2px;
	font-size: 13px;
}
.icons-action {
	display: flex;
	justify-content: space-between;
	color: var(--blue);
	margin-left: 5px;
	margin-top: 15px;
	margin-bottom: 5px;
}

/* #main .container .box-nav > a {
  font-size: 1em;
  padding: 0.5em 1em;
}

#main .container form {
  margin: 2em 0;
} */

table {
	border-spacing: 0px;
	width: 100%;
}

.table td,
.table th {
	padding: 0.75em;
	vertical-align: top;
	text-align: center;
	border-top: 1px solid var(--border);
}

.table td > a.btn {
	padding: 0.3em 1em;
	font-size: 1.1em;
	margin: 0 0.2em;
}

.table tr:hover {
	background-color: #00a8e8;
}

.table .thead-dark th {
	color: #fff;
	background-color: var(--dark);
	border-color: #32383e;
}

@media only screen and (max-width: 1024px) {
	table,
	thead,
	tbody,
	th,
	td,
	tr {
		display: block;
	}

	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr {
		border: 1px solid var(--border);
	}

	td {
		border: none;
		position: relative;
	}
}

.form-title {
	margin-top: 2em;
}

.form-title > h2 {
	padding: 0.5em 0;
}

.new-user {
	max-width: 786px;
	margin: auto;
}

#update-user .form-group,
#add-user .form-group {
	margin: 0.4em 0;
}

#update-user .form-group input[type='text'],
#add-user .form-group input[type='text'] {
	width: 100%;
	padding: 0.6em 1em;
	margin: 0.5em 0;
	border: 1px solid var(--border);
	font-size: 1em;
	border-radius: 0.2em;
}

#update-user .form-group .radio,
#add-user .form-group .radio {
	margin: 1em 2em;
}

.radio input[type='radio'] {
	position: absolute;
	opacity: 0;
}

.radio input[type='radio'] + .radio-label:before {
	content: '';
	background: var(--border-btn);
	border-radius: 100%;
	border: 1px solid var(--border);
	display: inline-block;
	width: 1em;
	height: 1em;
	position: relative;
	top: -0em;
	margin-right: 0.5em;
	vertical-align: top;
	cursor: pointer;
	text-align: center;
	-webkit-transition: all 250ms ease;
	transition: all 250ms ease;
}

.radio input[type='radio']:checked + .radio-label:before {
	background-color: #00a8e8;
	box-shadow: inset 0 0 0 4px #e9ecef;
}

.radio input[type='radio']:focus + .radio-label:before {
	outline: none;
	border-color: #00a8e8;
}

.radio input[type='radio']:disabled + .radio-label:before {
	box-shadow: inset 0 0 0 4px #e9ecef;
	border-color: #b4b4b4;
	background: #b4b4b4;
}

#update-user .form-group .btn,
#add-user .form-group .btn {
	width: 100%;
	padding: 0.9em 1em;
	background-color: #00a8e8;
	border: none;
	font-size: 1em;
	cursor: pointer;
	border-radius: 0.2em;
	margin: 0.5em 0;
}

#update-user .form-group .btn:hover,
#add-user .form-group .btn:hover {
	background-color: var(--dark);
	color: var(--border);
}
